<link rel="stylesheet" href="~/css/site.css">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Almendra&family=Amita&family=Arbutus&family=Audiowide&family=Barriecito&family=Creepster&family=Do+Hyeon&family=Dokdo&family=Faster+One&family=Geo&family=IM+Fell+DW+Pica&family=Irish+Grover&family=Macondo+Swash+Caps&family=MedievalSharp&family=Metal+Mania&family=Monoton&family=Russo+One&family=Saira+Stencil+One&family=Shojumaru&family=Short+Stack&family=Snowburst+One&family=Staatliches&family=Trade+Winds&family=Turret+Road&family=UnifrakturCook:wght@700&family=VT323&family=Vampiro+One&family=Vibes&family=Walter+Turncoat&family=Wendy+One&family=Yatra+One&display=swap" rel="stylesheet">

@using System.Security.Claims

<h1>Account Home</h1>

@if (User.Identity.IsAuthenticated)
{
  <div class="card mb-3">
    <div class="card-header">
      <h2>Hello <span style="@RandomThing.RandomFont() color:@RandomThing.RandomColor()">@User.Identity.Name!</span></h2>
    </div>
    <div class="card-body">
      <h4><span class="text-dark mr-3">Name:</span> @Model.FirstName @Model.LastName</h4>
      <h4 class="mb-5"><span class="text-dark mr-3">Email:</span> @Model.UserName</h4>
      <h5>@Html.ActionLink("Edit Account", "Edit", new { id = this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value})</h5>
    </div>
  </div>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-secondary" value="Log out">
  }
}  
else
{
  <h5>@Html.ActionLink("Register", "Register")</h5>
  <h5>@Html.ActionLink("Log in", "Login")</h5>
}